body {
	font-family: 'Libre Franklin';
}
#container {
	border: 1px gray solid;
	margin: 10px auto;
	width: 420px;
	height: 736px;
	text-align: center;
	overflow-y: scroll;
}
.header {
	color: #fff !important;
  background-color: #673ab7 !important;
  padding: 20px;
  position: fixed;
  width: 380px;
  margin-bottom: 50px;
	font-size: 24px;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}
.content {
	margin-top: 70px;
	background-color: #f6f3fb !important;
}
.category {
	margin: 10px;
	text-transform: uppercase;
	font-size: 22px;
	color: #673ab7;
}
.items {
	border: 1px solid #e0d6f2;
	border-radius: 3px;
	width: 300px;
	margin: 10px auto;
}
.items:hover {
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.title {
	border-bottom: 1px solid #e0d6f2;
	padding: 10px;
  background-color: #e0d6f2 !important;
}
.desc {
	padding: 10px;
}
.btn_price {
	width: 100px;
	padding: 5px;
	font-size: 14px;
	margin: 10px auto;
	border: 1px solid gray;
	background-color: #673ab7 !important;
	color: #fff;
}
.btn_price:hover {
	background-color: #341d5b !important;
	color: #fff;
}
